@model IEnumerable<MojecFaultyMeter.Models.FaultyMeters>
@{
    ViewBag.Title = "AwaitingReplacement";
    Layout = "~/Views/Shared/_LayoutProcurement.cshtml";
}


<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Hi, welcome back!</h4>
                <p class="mb-0">Manage your faulty meter</p>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Procurement</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Dashboard</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Awaiting Replacement Cases</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("AwaitingReplacement", "Procurement", FormMethod.Post))
                    {
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="form-row col-lg-12">
                                    <div class="col-lg-3">
                                        <label class="control-label">From</label>
                                        <input type="date" class="form-control" name="from" reqired>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="control-label">To</label>
                                        <input type="date" class="form-control" name="to" required>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="control-label">Disco</label>
                                        @Html.DropDownList("discoId", new SelectList(ViewBag.Disco, "DiscoID", "DiscoAB"), "--Select Disco--", new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-4">
                                        <br />
                                        <label class="control-label"></label>
                                        <button type="submit" class="btn btn-primary">Search</button>
                                        @*<button type="submit" class="btn btn-primary">Download</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <br />
                    <div class="table-responsive">
                        <table id="example" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MeterNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.WorkOrderID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CustomerName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AccountNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MeterType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReturnDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DiscoUser)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MeterNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkOrderID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccountNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MeterType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReturnDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DiscoUser)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Approve", "ApproveMeterReplacement", new { id = item.MeterID }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MeterNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.WorkOrderID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CustomerName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AccountNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MeterType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReturnDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DiscoUser)
                                    </th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

