@model IEnumerable<MojecFaultyMeter.Models.FaultyMeters>
@{
    ViewBag.Title = "PendingMeters";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Pending Cases</h4>
                                <div class="data-tables datatable-primary">
                                    
                                    <table id="dataTable3" class="table-responsive-lg">
                                        <thead class="text-capitalize">
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MeterNo)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.WorkOrderID)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CustomerName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.AccountNo)
                                                </th>

                                                <th>
                                                    @Html.DisplayNameFor(model => model.MeterType)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Status)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Replacementstat)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.AcceptedBy)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.TreatedBy)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DiscoUser)
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MeterNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkOrderID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccountNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MeterType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Replacementstat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AcceptedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TreatedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DiscoUser)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Accept", "AcceptMetercase", new { id = item.MeterID }, new { @class = "btn btn-primary" })
                                            @Html.ActionLink("Reject", "RejectMetercase", new { id = item.MeterID }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                        }

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
  $(function(){
     var save = '@TempData["save"]'
if(save!=null)
{
 alertify.success(save);
}
var edit = '@TempData["edit"]'
if(edit!='')
{
    alertify.success(edit);
}
 var del = '@TempData["delete"]'
if(del!='')
{
    alertify.error(del);
}
 })

     function Delete(id) {
            alertify.confirm('Meter Maintainance System', 'Are You Sure to Delete this record?', function () {
                window.location.href = '@Url.Action("DeleteRegionStaff","Admin")/'+id;
            },null);
        }

        function Deactivate(id) {
            alertify.confirm('Meter Maintainance System', 'Are You Sure to Deactivate this staff?', function () {
                window.location.href = '@Url.Action("DeactivateRegionStaff","Admin")/'+id;
            },null);
        }
    </script>
}



