@model MojecFaultyMeter.Models.FaultyMeters
@{
    ViewBag.Title = "AddFaultyMetersOnsite";
    Layout = "~/Views/Shared/DiscoLayout.cshtml";
}



<div class="main-content">
    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-6 col-ml-12">
                <div class="row">
                    <!-- Textual inputs start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Add Case</h4>
                                <form class="needs-validation" novalidate="" action="AddFaultyMeters" method="post">
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <label for="validationCustom01">Meter No</label>
                                            <input type="text" class="form-control" id="validationCustom01" name="MeterNo" placeholder="2982898299399883" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationCustom02">Customer Name</label>
                                            <input type="text" class="form-control" id="validationCustom02" name="CustomerName" placeholder="Customer Name" required="">

                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationCustomUsername">Account No</label>
                                            <input type="text" class="form-control" id="validationCustomUsername" name="AccountNo" placeholder="Account No" aria-describedby="inputGroupPrepend" required="" />

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3 mb-3">
                                            <label for="validationCustom04">Tarrif</label>
                                            <input type="text" class="form-control" name="Tarriff" id="validationCustom04" placeholder="Tarrif" required="">

                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationCustom05">Meter Type</label>
                                            <select class="custom-select" name="MeterType">
                                                <option selected="selected">Select Meter Type</option>
                                                <option>Single Phase</option>
                                                <option>Three Phase</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom03">Model</label>
                                            <select class="custom-select" name="Model">
                                                <option selected="selected">Select Model</option>
                                                <option>Model 1</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-row">

                                        <div class="col-md-3 mb-3">
                                            <label for="validationCustom04">Fault</label>
                                            <select class="custom-select" name="Fault" required>
                                                <option selected="selected">Select Fault</option>
                                                <option>Burnt</option>
                                                <option>Tampered</option>
                                            </select>

                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationCustom04">Comment</label>
                                            <input type="text" class="form-control" name="Faultcomment" id="validationCustom04" placeholder="Comment" required="">

                                        </div>
                                    </div>

                                    <button class="btn btn-outline-primary" type="submit">Add List</button>
                                    <a class="btn btn-outline-primary" href="@Url.Action("ConfirmList", "Disco")">Confirm List</a>
                                    <a class="btn btn-outline-primary" href="@Url.Action("OnsiteUploadworkorder", "Disco")">Batch Upload</a>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
  $(function(){
     var save = '@TempData["save"]'
if(save!=null)
{
 alertify.success(save);
}
var edit = '@TempData["edit"]'
if(edit!='')
{
    alertify.success(edit);
}
 var del = '@TempData["delete"]'
if(del!='')
{
    alertify.error(del);
}
 })

     function Delete(id) {
            alertify.confirm('Meter Maintainance System', 'Are You Sure to Delete this record?', function () {
                window.location.href = '@Url.Action("DeleteRegionStaff","Admin")/'+id;
            },null);
        }

        function Deactivate(id) {
            alertify.confirm('Meter Maintainance System', 'Are You Sure to Deactivate this staff?', function () {
                window.location.href = '@Url.Action("DeactivateRegionStaff","Admin")/'+id;
            },null);
        }
    </script>

}