@model MojecFaultyMeter.Models.FaultyMeters

@{
    ViewBag.Title = "FaultyMeterDetails";
    Layout = "~/Views/Shared/DiscoLayout.cshtml";
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-6 col-ml-12">
                <div class="row">
                    <!-- Textual inputs start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Update Case</h4>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom01">Meter No</label>
                                        @Html.EditorFor(model => model.MeterNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MeterNo, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom01">Customer Name</label>
                                        @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom01">Account No</label>
                                        @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom01">Tariff</label>
                                        @Html.EditorFor(model => model.Tarriff, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Tarriff, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom03">Model</label>
                                        <select class="custom-select" name="Model">
                                            <option selected="selected">Select Model</option>
                                            <option>Model 1</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom01">Meter Type</label>
                                        <select class="custom-select" name="MeterType">
                                            <option selected="selected">Select Meter Type</option>
                                            <option>Single Phase</option>
                                            <option>Three Phase</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.Tarriff, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom01">Fault</label>
                                        <select class="custom-select" name="Fault" required>
                                            <option selected="selected">Select Fault</option>
                                            <option>Burnt</option>
                                            <option>Tampered</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.Fault, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom01">Fault Comment</label>
                                        @Html.EditorFor(model => model.Faultcomment, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Fault, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.DiscoUserID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.HiddenFor(model => model.DiscoID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.HiddenFor(model => model.MeterID, new { htmlAttributes = new { @class = "form-control" } })
                               
                                        <button type="submit" value="Save" class="btn btn-outline-primary">Update</button>
                                        <a class="btn btn-outline-primary" href="@Url.Action("ConfirmList", "Disco")">Back To List</a>
                                 
                            </div>
                                            }
                                        </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

