@model IEnumerable<MojecFaultyMeter.Models.Fault>
@{
    ViewBag.Title = "Fault";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 pl-6">
                                        <div class="form-group">
                                            <a href="@Url.Action("AddFault", "Admin")" class="btn btn-outline-primary">
                                                <i class="fas fa-plus-square"></i>
                                                <span>
                                                    <strong>Add Fault</strong>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="header-title">Fault</h4>
                                <div class="data-tables datatable-primary">
                                    <table id="dataTable3" class="table-responsive-lg">
                                        <thead class="text-capitalize">
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Faultname)
                                                </th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        @foreach (var item in Model)
                                        {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Faultname)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "GetFault", new { id = item.FaultID }, new { @class = "btn btn-primary" })
                                                    @Html.ActionLink("Delete", "DeleteFault", new { id = item.FaultID }, new { @class = "btn btn-danger" })
                                                </td>

                                            </tr>
                                        }

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
  $(function(){
     var save = '@TempData["save"]'
if(save!=null)
{
 alertify.success(save);
}
var edit = '@TempData["edit"]'
if(edit!='')
{
    alertify.success(edit);
}
 var del = '@TempData["delete"]'
if(del!='')
{
    alertify.error(del);
}
 })

     function Delete(id) {
            alertify.confirm('Meter Maintainance System', 'Are You Sure to Delete this record?', function () {
                window.location.href = '@Url.Action("DeleteRegionStaff","Admin")/'+id;
            },null);
        }

        function Deactivate(id) {
            alertify.confirm('Meter Maintainance System', 'Are You Sure to Deactivate this staff?', function () {
                window.location.href = '@Url.Action("DeactivateRegionStaff","Admin")/'+id;
            },null);
        }
    </script>

}