
@{
    ViewBag.Title = "RegisterUser";
}



<div class="main-content">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-6 col-ml-12">
                <div class="row">
                    <!-- Textual inputs start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Store User</h4>
                                <form action="CreateMojecStoreUser" method="post">
                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">Fullname</label>
                                        <input class="form-control" name="Fullname" type="text" id="example-text-input">
                                    </div>
                                    <div class="form-group">
                                        <label for="example-search-input" class="col-form-label">Email</label>
                                        <input class="form-control" name="Email" type="email" id="example-search-input">
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email-input" class="col-form-label">Username</label>
                                        <input class="form-control" name="Username" id="example-email-input">
                                    </div>
                                    <div class="form-group">
                                        <label for="example-url-input" class="col-form-label">Password</label>
                                        <input class="form-control" name="Password" type="password" id="example-url-input">
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Textual inputs end -->
                    <!-- Radios start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Disco User</h4>
                                <form action="CreateDiscoUsers" method="post">
                                    <div class="form-group">
                                        <label class="col-form-label">Disco</label>
                                        <select class="custom-select" name="DiscoID">
                                            <option selected="selected">Select Disco</option>
                                            <option value="1">AEDC</option>
                                            <option value="2">EEDC</option>
                                            <option value="3">IBEDC</option>
                                            <option value="4">JEDC</option>
                                            <option value="5">KE</option>
                                            <option value="6">EKEDC</option>
                                            <option value="7">KEDCO</option>
                                            <option value="8">PHEDC</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">Fullname</label>
                                        <input class="form-control" name="Fullname" type="text" id="example-text-input">
                                    </div>
                                    <div class="form-group">
                                        <label for="example-search-input" class="col-form-label">Email</label>
                                        <input class="form-control" name="Email" type="email" id="example-search-input">
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email-input" class="col-form-label">Username</label>
                                        <input class="form-control"  name="Username" type="text" id="example-email-input">
                                    </div>
                                    <div class="form-group">
                                        <label for="example-url-input" class="col-form-label">Password</label>
                                        <input class="form-control" name="Password" type="password" id="example-url-input">
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Radios end -->
                <!-- Checkboxes start -->
                <!-- Checkboxes end -->
                <!-- button with dropdown start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Factory User</h4>
                            <form action="CreateFactoryUsers" method="post">
                                <div class="form-group">
                                    <label for="example-text-input" class="col-form-label">Fullname</label>
                                    <input class="form-control" name="Fullname" type="text" id="example-text-input">
                                </div>
                                <div class="form-group">
                                    <label for="example-search-input" class="col-form-label">Email</label>
                                    <input class="form-control" name="Email" type="email" id="example-search-input">
                                </div>
                                <div class="form-group">
                                    <label for="example-email-input" class="col-form-label">Username</label>
                                    <input class="form-control" name="Username" type="text" id="example-email-input">
                                </div>
                                <div class="form-group">
                                    <label for="example-url-input" class="col-form-label">Password</label>
                                    <input class="form-control" name="Password" type="password" id="example-url-input">
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- button with dropdown end -->
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
  $(function(){
     var save = '@TempData["save"]'
if(save!=null)
{
 alertify.success(save);
}
var edit = '@TempData["edit"]'
if(edit!='')
{
    alertify.success(edit);
}
 var del = '@TempData["delete"]'
if(del!='')
{
    alertify.error(del);
}
 })

     function Delete(id) {
            alertify.confirm('Meter Maintainance System', 'Are You Sure to Delete this record?', function () {
                window.location.href = '@Url.Action("DeleteRegionStaff","Admin")/'+id;
            },null);
        }

        function Deactivate(id) {
            alertify.confirm('Meter Maintainance System', 'Are You Sure to Deactivate this staff?', function () {
                window.location.href = '@Url.Action("DeactivateRegionStaff","Admin")/'+id;
            },null);
        }
    </script>
}


